footer {
    position: fixed;
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    border-top: 1px #CCCCCC;
    vertical-align: middle;
    bottom: 0;
}

footer p {
    text-align: center;
}
