header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
    background: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png") 20px center no-repeat;
}
