body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #484848;
    font-family: Circular, "Heletiva Neue", Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}