section {
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD;
    border-radius: 4px;
}

section button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    align-content: center;

    :hover {
        opacity: 90%;
    }
