.places {
    display: flex;
    margin: 15px auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.places h1 {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 30px;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

.places article h2 {
    font-size: 30px;
    margin: auto;
    padding: 0px;
    text-align: center;
}