.places .header {
    display: flex;
    box-shadow: 0px 10px 10px -15px #484848;
    padding: 10px;
    text-align: center;
}

.places .header h2 {
    margin: 10px auto;
}
.places .price_by_night {
    display: flex;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.places .information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.max_guest, .number_rooms, .number_bathrooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.information .guest-icon,
.information .room-icon,
.information .bath-icon {
    width: 2rem;
    height: 2rem;
    background-size: cover;
}

.information .guest-icon {
    background-image: url("../images/guest_icon.png");
}

.information .bath-icon {
    background-image: url("../images/bath_icon.png");
}

.information .room-icon {
    background-image: url("../images/bed_icon.png");
}

.max_guest p,
.number_rooms p,
.number_bathrooms p {
    margin-top: 0.2em;
}

.places .user {
    text-align: left;
    margin-top: 10px;
    line-height: 2em;
    word-spacing: 0.2em;
}

.places .description {
    text-align: left;
    line-height: 1.2em;
}